flows_pi3.json
[{"id":"ab240d84.fd732","type":"tab","label":"Szenzorok","disabled":false,"info":"- olvasás\n- naplózás adatbázisba\n- termosztát"},{"id":"6c0c462d.5b1b28","type":"tab","label":"Fűtés negyedórás","disabled":false,"info":"Ez a flow a régi fűtési rendszer vezérlésre\nképezi le a ki-be kapcsolgatást.\n\nÚgy működik, hogy ha a globális heating_flag \npropertyben true van, akkor az aktuális idő és\naz előtte-utána negyed órát bekapcsolja.\n\nA működéshez a Raspberry PI 3-ason működnie kell az \nautomation klinesnek."},{"id":"656e1f5.0c055e","type":"tab","label":"Trendgörbék","disabled":false,"info":"Az időpont szerinti lekérdezéshez használt view:\r\n\r\ncreate view sensor_data_2 as select *, event_year||'-'||substr('00'||event_month, length(event_month)+1, 2)||'-'||substr('00'||event_day, length(event_day)+1, 2)||' '||substr('00'||event_hour, length(event_hour)+1, 2)||':'||substr('00'||event_minute, length(event_minute)+1, 2)||substr('00'||event_sec, length(event_sec)+1, 2) as event_dt from sensor_data;\r\n\r\nTODO: később ezt a mezőt bele lehetne venni az adatbázisba, akár a többi mező helyett."},{"id":"5e4395e2.45da0c","type":"tab","label":"Időjárás","disabled":false,"info":""},{"id":"9e4d7e5b.aee51","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3c069a3c.4fd856","type":"tab","label":"Öntözés","disabled":false,"info":""},{"id":"94de720a.4353b","type":"mqtt-broker","z":"","name":"pi3","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ea748fc6.4f70a","type":"sqlitedb","z":"","db":"/home/pi/sensordata.sqlite3","mode":"RWC"},{"id":"862e707e.c7c21","type":"sqlitedb","z":"","db":":memory:","mode":"RWC"},{"id":"4dd0895b.50b3c8","type":"profile","z":"","name":"hétköznap","time1":"00:00","temp1":"21","time2":"05:00","temp2":"22","time3":"08:00","temp3":"21","time4":"14:00","temp4":"22","time5":"16:00","temp5":"22.5","time6":"18:00","temp6":"22.5","time7":"20:00","temp7":"22.5","time8":"22:00","temp8":"22","time9":"23:00","temp9":"22","time10":"23:59","temp10":"22"},{"id":"b7badb3e.bfef78","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"f04e099a.5947c8","type":"ui_group","z":"","name":"Hőmérséklet trendek","tab":"ec3c199d.7e9c48","order":2,"disp":true,"width":"10","collapse":true},{"id":"ec3c199d.7e9c48","type":"ui_tab","z":"","name":"Otthon automatizálás","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3ccd5297.0b6ece","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"938f8d36.22777","type":"ui_group","z":"","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"6ff2ed81.f0d854","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"27da35d3.b1564a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#2c0d75","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#2c0d75","edited":true},"page-titlebar-backgroundColor":{"value":"#2c0d75","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#4615ba","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#2c0d75","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26bf7a9c.833aa6","type":"ui_group","z":"","name":"Elvárt értékek","tab":"ec3c199d.7e9c48","order":1,"disp":true,"width":10,"collapse":true},{"id":"d08d2b37.ba2bf8","type":"profile","z":"","name":"hétvége","time1":"00:00","temp1":"21.2","time2":"05:00","temp2":"21.4","time3":"07:00","temp3":"21.3","time4":"10:00","temp4":"21.2","time5":"15:00","temp5":"21.5","time6":"23:59","temp6":"21.2","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"dd4849e4.c041c8","type":"ui_group","z":"","name":"Kazán percek","tab":"ec3c199d.7e9c48","order":4,"disp":true,"width":10,"collapse":true},{"id":"c12e741.9e1bd88","type":"ui_group","z":"","name":"Páratartalom trendek","tab":"ec3c199d.7e9c48","order":3,"disp":true,"width":"10","collapse":true},{"id":"630c06a6.d74338","type":"ui_group","z":"","name":"Külső hőmérséklet","tab":"ec3c199d.7e9c48","disp":true,"width":"10","collapse":true},{"id":"d33677f5.f9ba58","type":"mqtt in","z":"ab240d84.fd732","name":"","topic":"tele/+/SENSOR","qos":"2","datatype":"utf8","broker":"94de720a.4353b","x":160,"y":100,"wires":[["8c8a0fdd.721e2","2d5fd33d.b6c1bc"]]},{"id":"38f2b848.0dd208","type":"file","z":"ab240d84.fd732","name":"write to file","filename":"/home/pi/mqtt_temps.out","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":710,"y":140,"wires":[[]]},{"id":"8c8a0fdd.721e2","type":"function","z":"ab240d84.fd732","name":"convert to data records","func":"const so = JSON.parse(msg.payload)\nconst regex = /[^\\/]+\\/([^\\/]+)/gm;\n\nlet node_name = 'unknown';\nconst str = msg.topic;\nconst m = regex.exec(str);\nif (m !== null) {\n    node_name = m[1]\n}\n\nconst time = so.Time\nconst temperature = so.SI7021 ? so.SI7021.Temperature : (so.DS18B20 ? so.DS18B20.Temperature : so.DHT11.Temperature)\nconst humidity = so.DHT11 ? so.DHT11.Humidity : (so.SI7021 ? so.SI7021.Humidity : 0)\nconst battery = so.ANALOG ? (so.ANALOG.A0 * 0.01577) : 0\nconst now = new Date();\nlet event_year = now.getFullYear();\nlet event_month = now.getMonth() + 1;\nlet event_day = now.getDate();\nlet event_hour = now.getHours();\nlet event_minute = now.getMinutes();\nlet event_sec = now.getSeconds();\n\nconst ret = { \n    payload: msg.topic + '|' + msg.payload,\n    dbdata: [\n        { event_year, event_month, event_day, event_hour, event_minute, event_sec, node_name, sensor_type: 't', sensor_value: temperature },\n        { event_year, event_month, event_day, event_hour, event_minute, event_sec, node_name, sensor_type: 'h', sensor_value: humidity }\n    ]\n};\n\nif (battery > 0) {\n    ret.dbdata.push({ event_year, event_month, event_day, event_hour, event_minute, event_sec, node_name, sensor_type: 'b', sensor_value: battery })\n}\n\nreturn ret;","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["38f2b848.0dd208","246787c4.f3a468","56d5ace4.afb214"]]},{"id":"66c3139a.2b62fc","type":"debug","z":"ab240d84.fd732","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":200,"wires":[]},{"id":"2b147865.6b8218","type":"inject","z":"ab240d84.fd732","name":"create sensor data table","topic":"CREATE TABLE sensor_data (     event_year int, \tevent_month int, \tevent_day int, \tevent_hour int, \tevent_minute int, \tevent_sec int, \tnode_name text, \tsensor_type text, \tsensor_value real );","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":660,"wires":[["e0f95adf.e54458"]]},{"id":"e0f95adf.e54458","type":"sqlite","z":"ab240d84.fd732","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"run statement","x":920,"y":540,"wires":[["301fc8c6.501a68"]]},{"id":"301fc8c6.501a68","type":"debug","z":"ab240d84.fd732","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":400,"wires":[]},{"id":"bbf4856b.eb7d58","type":"inject","z":"ab240d84.fd732","name":"show counts","topic":"select count(1) from sensor_data;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":780,"wires":[["e0f95adf.e54458"]]},{"id":"246787c4.f3a468","type":"debug","z":"ab240d84.fd732","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"dbdata","targetType":"msg","x":700,"y":80,"wires":[]},{"id":"cae4468b.e8f028","type":"mqtt in","z":"ab240d84.fd732","name":"","topic":"tele/+/STATE","qos":"2","datatype":"utf8","broker":"94de720a.4353b","x":150,"y":220,"wires":[["66c3139a.2b62fc","112b2e57.26ee92"]]},{"id":"56d5ace4.afb214","type":"function","z":"ab240d84.fd732","name":"multi record split","func":"msg.dbdata.forEach((data, index) => {\n    node.send({ payload: data })\n})\nreturn;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["34b80747.f7d528","5567d9f7.a37038"]]},{"id":"34b80747.f7d528","type":"function","z":"ab240d84.fd732","name":"write insert statement","func":"const v = msg.payload\nvar newMsg = {\n \"topic\": \"INSERT INTO sensor_data \" + \n    \"(event_year, event_month, event_day, event_hour, event_minute, event_sec, node_name, sensor_type, sensor_value) \" + \n    \"VALUES ( \" + v.event_year + \", \" + v.event_month + \", \" + v.event_day + \", \" +\n    v.event_hour + \", \" + v.event_minute + \", \" + v.event_sec + \", '\" + \n    v.node_name + \"', '\" + v.sensor_type + \"', \" + v.sensor_value + \")\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["e0f95adf.e54458"]]},{"id":"1840fe0e.901182","type":"inject","z":"ab240d84.fd732","name":"drop sensor data table","topic":"DROP TABLE sensor_data;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":720,"wires":[["e0f95adf.e54458"]]},{"id":"349d16ed.a53d5a","type":"inject","z":"ab240d84.fd732","name":"send 10","topic":"","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":660,"wires":[["515a0015.09464","12c525c5.f8a45a","f634be0e.d9e21"]]},{"id":"515a0015.09464","type":"mqtt out","z":"ab240d84.fd732","name":"change TelePeriod on node01","topic":"cmnd/node01/TelePeriod","qos":"","retain":"","broker":"94de720a.4353b","x":430,"y":660,"wires":[]},{"id":"12c525c5.f8a45a","type":"mqtt out","z":"ab240d84.fd732","name":"change TelePeriod on node02","topic":"cmnd/node02/TelePeriod","qos":"","retain":"","broker":"94de720a.4353b","x":430,"y":720,"wires":[]},{"id":"eba401e6.ec39c","type":"inject","z":"ab240d84.fd732","name":"send 120","topic":"","payload":"120","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":780,"wires":[["515a0015.09464","12c525c5.f8a45a","f634be0e.d9e21"]]},{"id":"f55d94a5.b15098","type":"ramp-thermostat","z":"ab240d84.fd732","name":"fűtés vezérlés","profile":"d08d2b37.ba2bf8","hysteresisplus":"0.0","hysteresisminus":"0.0","x":1060,"y":300,"wires":[["6ad6bba5.e9e394","35fb27ce.35cb58"],["a7a61d6e.a115d","9fef742e.091fe8"],["8de71a3c.84f458","ac3e2a20.cf7f38"]]},{"id":"5567d9f7.a37038","type":"function","z":"ab240d84.fd732","name":"node02 temp value","func":"\nif (msg.payload.node_name == 'node01' && msg.payload.sensor_type == 't') {\n    global.set('lastTemp', new Date())\n    let tempValue = msg.payload.sensor_value\n    let max_temp = global.get('max_temp')\n    if (tempValue > max_temp) {\n        global.set('disable_max_temp', true)\n    } else {\n        global.set('disable_max_temp', false)\n    }\n    return { payload: tempValue, topic: 'setCurrent' };\n}\n    \nreturn null;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[["301fc8c6.501a68","f55d94a5.b15098"]]},{"id":"6ad6bba5.e9e394","type":"debug","z":"ab240d84.fd732","name":"heating needed","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1280,"y":220,"wires":[]},{"id":"a7a61d6e.a115d","type":"debug","z":"ab240d84.fd732","name":"current temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1290,"y":300,"wires":[]},{"id":"8de71a3c.84f458","type":"debug","z":"ab240d84.fd732","name":"target temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1290,"y":360,"wires":[]},{"id":"35fb27ce.35cb58","type":"rbe","z":"ab240d84.fd732","name":"on change","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":440,"wires":[["8c90c0fd.28f86","441c3196.ce48d"]]},{"id":"8c90c0fd.28f86","type":"function","z":"ab240d84.fd732","name":"insert heating state change","func":"const now = new Date();\nlet event_year = now.getFullYear();\nlet event_month = now.getMonth() + 1;\nlet event_day = now.getDate();\nlet event_hour = now.getHours();\nlet event_minute = now.getMinutes();\nlet event_sec = now.getSeconds();\n\nvar newMsg = {\n \"topic\": \"INSERT INTO sensor_data \" + \n    \"(event_year, event_month, event_day, event_hour, event_minute, event_sec, node_name, sensor_type, sensor_value) \" + \n    \"VALUES ( \" + event_year + \", \" + event_month + \", \" + event_day + \", \" +\n    event_hour + \", \" + event_minute + \", \" + event_sec + \", '\" + \n    'heating' + \"', 's', \" + (msg.payload ? \"1\":\"0\") + \")\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":500,"y":540,"wires":[["e0f95adf.e54458"]]},{"id":"a0fb4ab9.27d0a8","type":"sqlite","z":"656e1f5.0c055e","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"select","x":470,"y":40,"wires":[["abed66d8.03caa8"]]},{"id":"e3c38691.387118","type":"inject","z":"656e1f5.0c055e","name":"select hourly average from last 96 hours","topic":"select node_name, event_year, event_month, event_day, event_hour, avg(sensor_value)  \tfrom sensor_data_2 where sensor_type='t' and event_dt > datetime('now','-4 days') \tgroup by node_name, event_year, event_month, event_day, event_hour  \torder by event_year desc, event_month desc, event_day desc, event_hour desc;","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":true,"onceDelay":"5","x":220,"y":40,"wires":[["a0fb4ab9.27d0a8"]]},{"id":"57bb0107.13851","type":"inject","z":"6c0c462d.5b1b28","name":"heating schedule","topic":"heatcheck","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0-23 * * *","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["1e3d87a8.2bffc8"]]},{"id":"5e1eae6e.4dbac","type":"function","z":"6c0c462d.5b1b28","name":"convert hex","func":"let heating = msg.statusVal > 0\nconst now = new Date();\n\nconst hour = now.getHours();\nconst minute = now.getMinutes();\n\nString.prototype.replaceAt=function(index, replacement) {\n    return this.substr(0, index) + replacement+ this.substr(index + replacement.length);\n}\n\nlet val = '0'.repeat(24)\n\nif (heating) {\n    const now = new Date();\n    let prev_hour = hour > 0 ? hour -1 : 23;\n    let next_hour = hour < 23 ? hour + 1 : 0;\n    let prev_hex = '1';\n    let next_hex = '0';\n    let hex = 'c'\n    if (minute >= 15) {\n        prev_hex = '0'\n        next_hex = '0'\n        hex = 'e';\n    } \n    if (minute >= 30) {\n        prev_hex = '0'\n        next_hex = '0'\n        hex = '7'\n    }\n    if (minute >= 45) {\n        prev_hex = '0'\n        next_hex = '8'\n        hex = '3'\n    }\n    val = val.replaceAt(hour, hex)\n    if (prev_hex !== '0') {\n        val = val.replaceAt(prev_hour, prev_hex)\n    }\n    if (next_hex !== '0') {\n        val = val.replaceAt(next_hour, next_hex)\n    }\n}\n\nreturn {url: 'http://192.168.1.15:3001/master/S15:s' + val};","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["9efd538e.5bfb1","63559457.ccea0c"]]},{"id":"63559457.ccea0c","type":"http request","z":"6c0c462d.5b1b28","name":"request node","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":810,"y":60,"wires":[["f9bfb9c4.914a18","9efd538e.5bfb1"]]},{"id":"5adaba88.738ee4","type":"debug","z":"6c0c462d.5b1b28","name":"","active":false,"console":"false","complete":"false","x":1110,"y":280,"wires":[]},{"id":"f9bfb9c4.914a18","type":"json","z":"6c0c462d.5b1b28","name":"","property":"payload","action":"","pretty":false,"x":930,"y":200,"wires":[["5adaba88.738ee4"]]},{"id":"9efd538e.5bfb1","type":"debug","z":"6c0c462d.5b1b28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1100,"y":120,"wires":[]},{"id":"441c3196.ce48d","type":"function","z":"ab240d84.fd732","name":"set global heating_flag","func":"global.set('heating_flag', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":560,"wires":[[]]},{"id":"a57ff946.778898","type":"inject","z":"ab240d84.fd732","name":"lastTemp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":140,"y":360,"wires":[["e24db2d.807c05"]]},{"id":"e24db2d.807c05","type":"function","z":"ab240d84.fd732","name":"set global lastTemp","func":"global.set('lastTemp', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[[]]},{"id":"abed66d8.03caa8","type":"function","z":"656e1f5.0c055e","name":"map","func":"var p = msg.payload;\nvar c = {};\nc.data = [];\n\nconst exceptions = ['node03', 'oweath']\n\nvar data = {};\np.forEach(function(point) {\n    var year = point['event_year']\n    var month = point['event_month']\n    var day = point['event_day']\n    var hour = point['event_hour']\n    var d = new Date(year, month-1, day, hour, 0, 0, 0)\n    var value = point['avg(sensor_value)']\n    value = value ? value.toFixed(2) : value\n    var node_name = point['node_name']\n    if ( ! data[node_name] ) {\n        data[node_name] = []\n    }\n    data[node_name].push({\"x\": d, \"y\":value})\n});\n\nc.series = [];\nc.data = [];\nc.labels = [\"\"];\n\nObject.keys(data).forEach((k) => {\n    if (! exceptions.includes(k)) {\n        c.series.push(k)\n        c.data.push(data[k])\n    }\n})\n\nmsg.label = p.name;\nmsg.payload = [c];\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":40,"wires":[["7695e788.b7aa88"]]},{"id":"7695e788.b7aa88","type":"ui_chart","z":"656e1f5.0c055e","name":"","group":"f04e099a.5947c8","order":1,"width":10,"height":5,"label":"Elmúlt napok","chartType":"line","legend":"true","xformat":"dd HH","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8040","#8000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":40,"wires":[[]]},{"id":"4bcfdbc7.a684f4","type":"sqlite","z":"656e1f5.0c055e","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"select","x":470,"y":80,"wires":[["66fbbbff.0b75c4"]]},{"id":"691c49a4.b17718","type":"inject","z":"656e1f5.0c055e","name":"select hourly average from last 4 hours","topic":"select node_name, event_year, event_month, event_day, event_hour, event_minute, avg(sensor_value)  \tfrom sensor_data_2 where sensor_type='t' and event_dt > datetime('now','-4 hours') \tgroup by node_name, event_year, event_month, event_day, event_hour, event_minute  \torder by event_year desc, event_month desc, event_day desc, event_hour desc, event_minute desc;","payload":"","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":220,"y":80,"wires":[["4bcfdbc7.a684f4"]]},{"id":"66fbbbff.0b75c4","type":"function","z":"656e1f5.0c055e","name":"map","func":"var p = msg.payload;\nvar c = {};\nc.data = [];\n\nconst exceptions = ['node03', 'oweath']\n\nvar data = {};\np.forEach(function(point) {\n    var year = point['event_year']\n    var month = point['event_month']\n    var day = point['event_day']\n    var hour = point['event_hour']\n    var minute = point['event_minute']\n    var d = new Date(year, month-1, day, hour, minute, 0, 0);\n    var node_name = point['node_name']\n    if ( ! data[node_name] ) {\n        data[node_name] = []\n    }\n    data[node_name].push({\"x\": d, \"y\":point['avg(sensor_value)']})\n});\n\nc.series = [];\nc.data = [];\nc.labels = [\"\"];\n\nObject.keys(data).forEach((k) => {\n    if (! exceptions.includes(k)) {\n        c.series.push(k)\n        c.data.push(data[k])\n    }\n})\n\nmsg.label = p.name;\nmsg.payload = [c];\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["d6149fb4.10bf6"]]},{"id":"d6149fb4.10bf6","type":"ui_chart","z":"656e1f5.0c055e","name":"","group":"f04e099a.5947c8","order":2,"width":10,"height":5,"label":"Elmúlt órák","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8040","#8000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":80,"wires":[[]]},{"id":"1e3d87a8.2bffc8","type":"function","z":"6c0c462d.5b1b28","name":"kazán időzítés padlófűtéshez","func":"let heating = global.get('heating_flag')\nlet heating_spec = global.get('heating_spec')\nlet status = global.get('stove_status')\nlet disable_max_temp = global.get('disable_max_temp')\nif (!status) {\n    status = 'doff';\n    global.set('stove_status', status)\n}\n\nlet lastChange = global.get('last_change')\nif (!lastChange) {\n    lastChange = new Date();\n    global.set('last_change', lastChange)\n}\n\n// doff, toff, ton, don\n\nconst now = new Date();\n\nconst elapsedMinutes = (now.getTime() - lastChange.getTime()) / 60000\n\n// TODO: ezeknek a külső hőmérséklettől kell függniük (onmax > ontim, offmax > offtime)\n// var onmax = 30;\n// var offtime = 30;\n// var offmax = 50;\n// var ontime = 15;\n\nconst basicTimingByOutsideTemp = [\n    [ 17,  50, 15, 105, 600, 15],\n    [ 14,  17, 15, 105, 300, 15],\n    [ 10,  14, 15,  90, 220, 15],\n    [  5,  10, 20,  90, 120, 15],\n    [  0,   5, 30,  45,  90, 15],\n    [ -5,   0, 30,  30,  60, 15],\n    [-15,  -5, 45,  15,  30, 15]\n]\n\nconst out_temp = global.get('out_temp')\nconst actualTiming = basicTimingByOutsideTemp.find(tim => tim[0] <= out_temp && out_temp < tim[1])\nvar onmax = actualTiming[2];\nvar offtime = actualTiming[3];\nvar offmax = actualTiming[4];\nvar ontime = actualTiming[5];\n\nif (heating_spec > 0) {\n    onmax *= 2;\n    ontime *= 2;\n}\n\n// --- IDŐZÍTETT MŰKÖDÉS ---\nif (status === 'don' && elapsedMinutes >= onmax) {\n    status = 'toff';\n    lastChange = now;\n    if (heating_spec > 0) {\n        heating_spec = heating_spec -1;\n        global.set('heating_spec', heating_spec);\n    }\n} else if (status === 'ton' && elapsedMinutes >= ontime) {\n    status = 'doff';\n    lastChange = now;\n    if (heating_spec > 0) {\n        heating_spec = heating_spec -1;\n        global.set('heating_spec', heating_spec);\n    }\n} else if (status === 'doff' && elapsedMinutes >= offmax && !disable_max_temp) {\n    status = 'ton';\n    lastChange = now;\n} else if (status === 'toff' && elapsedMinutes >= offtime) {\n    status = 'doff';\n}\n\n// --- THERMOSTAT MŰKÖDÉS ---\nif (heating) {\n    if (status === 'doff') {\n        if (elapsedMinutes < offtime) {\n            status = 'toff';\n        } else {\n            status = 'don';\n            lastChange = now;\n        }\n    } else if (status === 'ton') {\n        status = 'don'\n    }\n} else {\n    if (status === 'don') {\n        if (elapsedMinutes >= ontime) {\n            status = 'doff';\n        } else {\n            status = 'ton';\n        }\n    }\n}\n\nglobal.set('stove_status', status)\nglobal.set('last_change', lastChange)\n\nlet statusVal;\nswitch (status)\n{\n    case 'doff':\n        statusVal = -1;\n        break;\n    case 'toff':\n        statusVal = 0;\n        break;\n    case 'ton':\n        statusVal = 1;\n        break;\n    case 'don':\n        statusVal = 2;\n        break;\n    default:\n        statusVal = -2;\n        break;\n}\n\nreturn {\n    payload: status, \n    topic: elapsedMinutes.toFixed(2), \n    lastChange: lastChange, \n    statusVal: statusVal, \n    disableMaxTemp: disable_max_temp,\n    heating: heating, \n    actualTiming,\n    onmax,\n    offtime,\n    offmax,\n    ontime\n};\n","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["226e9682.29e46a","ff5a287.0f67ed8","f09db257.9d35","3eb84ef2.1eb422","19183e67.c4a6b2"]],"info":"Az msg.payload-ban érkező heating flag (true/false) alapján kiszámolja, hogy szükséges-e a kazánt indítani.\n\nKülső hőmérsékelet függő beállítások:\nonmax - az az idő percben, amennyit egyfolytában mehet a fűtés\nofftime - az az idő percben, amelyet a kazán az időzített kikapcsolással bekapcsolás nélkül telhet\noffmax - az az idő percben másodpercben, amennyit bekapcsolás nélkül telhet el\nontime - az az idő percben, amelyet a kazán az időzített bekapcsolással mehet\n\nAz onmax az offitime-mal együtt meghatározza, hogy ha szükséges fűteni, akkor milyen sűrűn kapcsolgasson a kazán.\naz offmax az ontime-mal együtt meghatározza, hogy ha nincs fűtési igény, akkor mennyi kikapcsolt idő után kell bekapcsolni a \nkazánnak és ilyenkor mennyit kell menjen.\n\nÁllapotok:\n-1 - timed off (kellene fűteni, de eltelt az onmax)\n0 - off\n1 - timed on (offmax eltelte után ontime ideig lehet ebben)\n2 - demand on (a fűtési igény miatt kapcsol ide)\n\n"},{"id":"226e9682.29e46a","type":"debug","z":"6c0c462d.5b1b28","name":"status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","x":570,"y":300,"wires":[]},{"id":"ff5a287.0f67ed8","type":"function","z":"6c0c462d.5b1b28","name":"insert stove state change","func":"const now = new Date();\nlet event_year = now.getFullYear();\nlet event_month = now.getMonth() + 1;\nlet event_day = now.getDate();\nlet event_hour = now.getHours();\nlet event_minute = now.getMinutes();\nlet event_sec = now.getSeconds();\n\nvar newMsg = {\n \"topic\": \"INSERT INTO sensor_data \" + \n    \"(event_year, event_month, event_day, event_hour, event_minute, event_sec, node_name, sensor_type, sensor_value) \" + \n    \"VALUES ( \" + event_year + \", \" + event_month + \", \" + event_day + \", \" +\n    event_hour + \", \" + event_minute + \", \" + event_sec + \", '\" + \n    'stove' + \"', 's', \" + msg.statusVal + \")\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["487d4dbb.9177d4"]]},{"id":"487d4dbb.9177d4","type":"sqlite","z":"6c0c462d.5b1b28","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"run statement","x":860,"y":440,"wires":[[]]},{"id":"f09db257.9d35","type":"function","z":"6c0c462d.5b1b28","name":"insert heat state change","func":"const now = new Date();\nlet event_year = now.getFullYear();\nlet event_month = now.getMonth() + 1;\nlet event_day = now.getDate();\nlet event_hour = now.getHours();\nlet event_minute = now.getMinutes();\nlet event_sec = now.getSeconds();\n\nvar newMsg = {\n \"topic\": \"INSERT INTO sensor_data \" + \n    \"(event_year, event_month, event_day, event_hour, event_minute, event_sec, node_name, sensor_type, sensor_value) \" + \n    \"VALUES ( \" + event_year + \", \" + event_month + \", \" + event_day + \", \" +\n    event_hour + \", \" + event_minute + \", \" + event_sec + \", '\" + \n    'heatm' + \"', 's', \" + (msg.heating ? 1:0) + \")\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":550,"y":480,"wires":[["487d4dbb.9177d4"]]},{"id":"77968404.478b6c","type":"sqlite","z":"656e1f5.0c055e","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"select","x":470,"y":120,"wires":[["4330bed7.820b3"]]},{"id":"b6a5aebf.d2e9c","type":"inject","z":"656e1f5.0c055e","name":"select heating and stove from last 4 hours","topic":"select node_name, event_year, event_month, event_day, event_hour, event_minute, sensor_value from sensor_data where (node_name = 'stove' or node_name = 'heatm') and sensor_type='s' group by node_name, event_year, event_month, event_day, event_hour, event_minute order by event_year desc, event_month desc, event_day desc, event_hour desc, event_minute desc limit 960;","payload":"","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":210,"y":120,"wires":[["77968404.478b6c"]]},{"id":"4330bed7.820b3","type":"function","z":"656e1f5.0c055e","name":"map","func":"var p = msg.payload;\nvar c = {};\nc.data = [];\n\nvar data1 = [];\np.forEach(function(point) {\n    var year = point['event_year']\n    var month = point['event_month']\n    var day = point['event_day']\n    var hour = point['event_hour']\n    var minute = point['event_minute']\n    var d = new Date(year, month-1, day, hour, minute, 0, 0);\n    var node_name = point['node_name']\n    if (node_name === 'heatm') {\n        data1.push({\"x\": d, \"y\":point['sensor_value'] == 0 ? -0.5 : 0.5});\n    }\n});\n\nvar data2 = [];\np.forEach(function(point) {\n    var year = point['event_year']\n    var month = point['event_month']\n    var day = point['event_day']\n    var hour = point['event_hour']\n    var minute = point['event_minute']\n    var d = new Date(year, month-1, day, hour, minute, 0, 0);\n    var node_name = point['node_name']\n    if (node_name === 'stove') {\n        data2.push({\"x\": d, \"y\":point['sensor_value']});\n    }\n});\n\nc.series = [\"heat\", \"stove\"];\nc.data = [data1, data2];\nc.labels = [\"\"];\n\nmsg.label = p.name;\nmsg.payload = [c];\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["4be4be3.518454"]]},{"id":"4be4be3.518454","type":"ui_chart","z":"656e1f5.0c055e","name":"","group":"f04e099a.5947c8","order":3,"width":10,"height":5,"label":"Fűtés igény","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#8080ff","#ff0000","#8000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":120,"wires":[[]]},{"id":"70af8cf2.420004","type":"ui_slider","z":"ab240d84.fd732","name":"","label":"Elvárt hőmérséklet","tooltip":"","group":"26bf7a9c.833aa6","order":1,"width":10,"height":1,"passthru":true,"outs":"end","topic":"settarget","min":"15","max":"25","step":"0.1","x":1050,"y":200,"wires":[["f55d94a5.b15098"]]},{"id":"9fef742e.091fe8","type":"ui_text","z":"ab240d84.fd732","group":"26bf7a9c.833aa6","order":2,"width":5,"height":1,"name":"","label":"aktuális hőmérséklet","format":"{{msg.payload}}","layout":"col-center","x":1320,"y":100,"wires":[]},{"id":"ac3e2a20.cf7f38","type":"ui_text","z":"ab240d84.fd732","group":"26bf7a9c.833aa6","order":3,"width":5,"height":1,"name":"","label":"elvárt hőmérséklet","format":"{{msg.payload}}","layout":"col-center","x":1310,"y":160,"wires":[]},{"id":"f45ae560.fbc848","type":"ui_dropdown","z":"ab240d84.fd732","name":"profil beállítás","label":"profil beállítás","tooltip":"","place":"Select option","group":"26bf7a9c.833aa6","order":6,"width":10,"height":1,"passthru":true,"options":[{"label":"hétköznap","value":"hétköznap","type":"str"},{"label":"hétvége","value":"hétvége","type":"str"},{"label":"alapértelmezett","value":"default","type":"str"}],"payload":"","topic":"setprofile","x":1060,"y":140,"wires":[["f55d94a5.b15098"]]},{"id":"3eb84ef2.1eb422","type":"ui_text","z":"6c0c462d.5b1b28","group":"26bf7a9c.833aa6","order":7,"width":10,"height":1,"name":"","label":"kapcsolás (perc)","format":"{{msg.topic}}","layout":"row-left","x":580,"y":580,"wires":[]},{"id":"2d5fd33d.b6c1bc","type":"debug","z":"ab240d84.fd732","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":40,"wires":[]},{"id":"8d40883.901ba78","type":"openweathermap in","z":"5e4395e2.45da0c","name":"weather","wtype":"current","lon":"","lat":"","city":"Deszk","country":"hu","language":"en","x":110,"y":100,"wires":[["e86d8eba.7c33e","4ddddc7c.240354","b292b034.9dd91","67ab364f.39c688","202ad322.850f2c","27869334.5b81bc"]]},{"id":"e86d8eba.7c33e","type":"debug","z":"5e4395e2.45da0c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":100,"wires":[]},{"id":"19183e67.c4a6b2","type":"function","z":"6c0c462d.5b1b28","name":"convert MQTT","func":"let heating = msg.statusVal > 0\nreturn { payload: heating ? 1 : 0 }","outputs":1,"noerr":0,"x":370,"y":680,"wires":[["bf2bdf62.381c4"]]},{"id":"bf2bdf62.381c4","type":"mqtt out","z":"6c0c462d.5b1b28","name":"","topic":"cmnd/node03/power2","qos":"0","retain":"false","broker":"94de720a.4353b","x":710,"y":680,"wires":[]},{"id":"f634be0e.d9e21","type":"mqtt out","z":"ab240d84.fd732","name":"change TelePeriod on node03","topic":"cmnd/node03/TelePeriod","qos":"","retain":"","broker":"94de720a.4353b","x":430,"y":780,"wires":[]},{"id":"56c089eb.fb2278","type":"sqlite","z":"656e1f5.0c055e","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"select","x":470,"y":160,"wires":[["5bc21a06.ea2024"]]},{"id":"c3c0da1c.7c8fd8","type":"inject","z":"656e1f5.0c055e","name":"select hourly stove data from last day","topic":"select count(1) as stove_minutes, event_year, event_month, event_day, event_hour from sensor_data_2 where node_name = 'stove' and sensor_type='s' and sensor_value > 0 and event_dt > datetime('now','-24 hours') group by event_year, event_month, event_day, event_hour order by event_year, event_month, event_day, event_hour;","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":true,"onceDelay":"1","x":230,"y":160,"wires":[["56c089eb.fb2278"]]},{"id":"5bc21a06.ea2024","type":"function","z":"656e1f5.0c055e","name":"map","func":"var p = msg.payload;\nvar c = {};\nc.data = [];\n\nvar data1 = [];\nvar labels1 = [];\np.forEach(function(point) {\n    var year = point['event_year']\n    var month = point['event_month']\n    var day = point['event_day']\n    var hour = point['event_hour']\n    var stove_minutes = point['stove_minutes']\n    var d = day + \"/\" + hour;\n    labels1.push(d)\n    data1.push(stove_minutes);\n});\n\nc.series = [\"kazán üzem percek\"];\nc.data =  [data1];\nc.labels = labels1;\n\nmsg.label = p.name;\nmsg.payload = [c];\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["3549555b.62694a"]]},{"id":"3549555b.62694a","type":"ui_chart","z":"656e1f5.0c055e","name":"","group":"dd4849e4.c041c8","order":1,"width":10,"height":5,"label":"Óránként bekapcsolt percek","chartType":"bar","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#a55a71","#ff0000","#8000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":160,"wires":[[]]},{"id":"fcfcb636.a77948","type":"sqlite","z":"656e1f5.0c055e","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"select","x":470,"y":200,"wires":[["6cde6e6a.a4694"]]},{"id":"9e0e034a.b687d","type":"inject","z":"656e1f5.0c055e","name":"select daily stove data from last week","topic":"select round(sum(stove_minutes)*1.0/24,1) stove_minutes, event_year, event_month, event_day from (select count(1) as stove_minutes, event_year, event_month, event_day, event_hour, event_dt from sensor_data_2 where node_name = 'stove' and sensor_type='s' and sensor_value > 0 group by event_year, event_month, event_day, event_hour) where event_dt > date('now','-14 days') group by event_year, event_month, event_day;","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":true,"onceDelay":"1","x":230,"y":200,"wires":[["fcfcb636.a77948"]]},{"id":"6cde6e6a.a4694","type":"function","z":"656e1f5.0c055e","name":"map","func":"var p = msg.payload;\nvar c = {};\nc.data = [];\n\nvar data1 = [];\nvar labels1 = [];\np.forEach(function(point) {\n    var year = point['event_year']\n    var month = point['event_month']\n    var day = point['event_day']\n    var hour = point['event_hour']\n    var stove_minutes = point['stove_minutes']\n    var d = day\n    labels1.push(d)\n    data1.push(stove_minutes);\n});\n\nc.series = [\"kazán üzem óránkénti átlag\"];\nc.data =  [data1];\nc.labels = labels1;\n\nmsg.label = p.name;\nmsg.payload = [c];\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["cb006473.d5dfd8"]]},{"id":"cb006473.d5dfd8","type":"ui_chart","z":"656e1f5.0c055e","name":"","group":"dd4849e4.c041c8","order":2,"width":10,"height":5,"label":"Naponként bekapcsolt percek (óránkénti átlag)","chartType":"bar","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#8339c6","#ff0000","#8000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":200,"wires":[[]]},{"id":"481e5108.5ba63","type":"sqlite","z":"656e1f5.0c055e","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"select","x":470,"y":340,"wires":[["7357e036.7ff1"]]},{"id":"21b0219f.d0f6de","type":"inject","z":"656e1f5.0c055e","name":"select hourly average from last 4 hours","topic":"select node_name, event_year, event_month, event_day, event_hour, event_minute, avg(sensor_value)  \tfrom sensor_data_2 where sensor_type='h' and event_dt > datetime('now','-4 hours') \tgroup by node_name, event_year, event_month, event_day, event_hour, event_minute  \torder by event_year desc, event_month desc, event_day desc, event_hour desc, event_minute desc;","payload":"","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":220,"y":340,"wires":[["481e5108.5ba63"]]},{"id":"7357e036.7ff1","type":"function","z":"656e1f5.0c055e","name":"map","func":"var p = msg.payload;\nvar c = {};\nc.data = [];\n\nconst exceptions = []\n\nvar data = {};\np.forEach(function(point) {\n    var year = point['event_year']\n    var month = point['event_month']\n    var day = point['event_day']\n    var hour = point['event_hour']\n    var minute = point['event_minute']\n    var d = new Date(year, month-1, day, hour, minute, 0, 0);\n    var node_name = point['node_name']\n    if ( ! data[node_name] ) {\n        data[node_name] = []\n    }\n    data[node_name].push({\"x\": d, \"y\":point['avg(sensor_value)']})\n});\n\nc.series = [];\nc.data = [];\nc.labels = [\"\"];\n\nObject.keys(data).forEach((k) => {\n    if (! exceptions.includes(k)) {\n        c.series.push(k)\n        c.data.push(data[k])\n    }\n})\n\nmsg.label = p.name;\nmsg.payload = [c];\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["4d84d23f.78f11c"]]},{"id":"4d84d23f.78f11c","type":"ui_chart","z":"656e1f5.0c055e","name":"","group":"c12e741.9e1bd88","order":1,"width":10,"height":5,"label":"Elmúlt órák","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#56ed6c","#84bbb6","#5f7aa0","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":340,"wires":[[]]},{"id":"5466b74c.d99248","type":"sqlite","z":"656e1f5.0c055e","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"select","x":470,"y":300,"wires":[["8854cc06.7dd6b"]]},{"id":"df312b14.dfc8e8","type":"inject","z":"656e1f5.0c055e","name":"select hourly average from last 96 hours","topic":"select node_name, event_year, event_month, event_day, event_hour, avg(sensor_value)  \tfrom sensor_data_2 where sensor_type='h' and event_dt > datetime('now','-4 days') \tgroup by node_name, event_year, event_month, event_day, event_hour  \torder by event_year desc, event_month desc, event_day desc, event_hour desc;","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":true,"onceDelay":"5","x":220,"y":300,"wires":[["5466b74c.d99248"]]},{"id":"8854cc06.7dd6b","type":"function","z":"656e1f5.0c055e","name":"map","func":"var p = msg.payload;\nvar c = {};\nc.data = [];\n\nconst exceptions = ['node03', 'oweath']\n\nvar data = {};\np.forEach(function(point) {\n    var year = point['event_year']\n    var month = point['event_month']\n    var day = point['event_day']\n    var hour = point['event_hour']\n    var d = new Date(year, month-1, day, hour, 0, 0, 0)\n    var value = point['avg(sensor_value)']\n    value = value ? value.toFixed(2) : value\n    var node_name = point['node_name']\n    if ( ! data[node_name] ) {\n        data[node_name] = []\n    }\n    data[node_name].push({\"x\": d, \"y\":value})\n});\n\nc.series = [];\nc.data = [];\nc.labels = [\"\"];\n\nObject.keys(data).forEach((k) => {\n    if (! exceptions.includes(k)) {\n        c.series.push(k)\n        c.data.push(data[k])\n    }\n})\n\nmsg.label = p.name;\nmsg.payload = [c];\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["fb0a9d58.e3991"]]},{"id":"fb0a9d58.e3991","type":"ui_chart","z":"656e1f5.0c055e","name":"","group":"c12e741.9e1bd88","order":2,"width":10,"height":5,"label":"Elmúlt napok","chartType":"line","legend":"true","xformat":"dd HH","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#5ed770","#80bf8c","#14dbeb","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":300,"wires":[[]]},{"id":"4ddddc7c.240354","type":"ui_text","z":"5e4395e2.45da0c","group":"26bf7a9c.833aa6","order":4,"width":5,"height":1,"name":"","label":"külső hőmérséklet","format":"{{msg.payload.tempc}} °C","layout":"col-center","x":390,"y":160,"wires":[]},{"id":"b292b034.9dd91","type":"ui_text","z":"5e4395e2.45da0c","group":"26bf7a9c.833aa6","order":5,"width":5,"height":1,"name":"","label":"külső páratartalom","format":"{{msg.payload.humidity}} %","layout":"col-center","x":390,"y":200,"wires":[]},{"id":"67ab364f.39c688","type":"function","z":"5e4395e2.45da0c","name":"create weater temp insert","func":"let now = new Date();\nlet event_year = now.getFullYear();\nlet event_month = now.getMonth() + 1;\nlet event_day = now.getDate();\nlet event_hour = now.getHours();\nlet event_minute = now.getMinutes();\nlet event_sec = now.getSeconds();\nlet node_name = 'oweath'\nlet sensor_type = 't'\nlet sensor_value = msg.payload.tempc\n\nvar newMsg = {\n \"topic\": \"INSERT INTO sensor_data \" + \n    \"(event_year, event_month, event_day, event_hour, event_minute, event_sec, node_name, sensor_type, sensor_value) \" + \n    \"VALUES ( \" + event_year + \", \" + event_month + \", \" + event_day + \", \" +\n    event_hour + \", \" + event_minute + \", \" + event_sec + \", '\" + \n    node_name + \"', '\" + sensor_type + \"', \" + sensor_value + \")\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["9be96cf3.b7e91"]]},{"id":"9be96cf3.b7e91","type":"sqlite","z":"5e4395e2.45da0c","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"run statement","x":660,"y":280,"wires":[[]]},{"id":"202ad322.850f2c","type":"function","z":"5e4395e2.45da0c","name":"create weater humidity insert","func":"let now = new Date();\nlet event_year = now.getFullYear();\nlet event_month = now.getMonth() + 1;\nlet event_day = now.getDate();\nlet event_hour = now.getHours();\nlet event_minute = now.getMinutes();\nlet event_sec = now.getSeconds();\nlet node_name = 'oweath'\nlet sensor_type = 'h'\nlet sensor_value = msg.payload.humidity\n\nvar newMsg = {\n \"topic\": \"INSERT INTO sensor_data \" + \n    \"(event_year, event_month, event_day, event_hour, event_minute, event_sec, node_name, sensor_type, sensor_value) \" + \n    \"VALUES ( \" + event_year + \", \" + event_month + \", \" + event_day + \", \" +\n    event_hour + \", \" + event_minute + \", \" + event_sec + \", '\" + \n    node_name + \"', '\" + sensor_type + \"', \" + sensor_value + \")\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["41099fae.43e98"]]},{"id":"41099fae.43e98","type":"sqlite","z":"5e4395e2.45da0c","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"run statement","x":660,"y":340,"wires":[[]]},{"id":"1dcb27cc.472868","type":"sqlite","z":"656e1f5.0c055e","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"select","x":470,"y":460,"wires":[["9c8773e0.e86e5"]]},{"id":"710e18b5.70f2b8","type":"inject","z":"656e1f5.0c055e","name":"select hourly average from last 96 hours","topic":"select node_name, event_year, event_month, event_day, event_hour, avg(sensor_value)  \tfrom sensor_data_2 where node_name='oweath' and sensor_type='t' and event_dt > datetime('now','-4 days') \tgroup by node_name, event_year, event_month, event_day, event_hour  \torder by event_year desc, event_month desc, event_day desc, event_hour desc;","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":true,"onceDelay":"5","x":220,"y":460,"wires":[["1dcb27cc.472868"]]},{"id":"9c8773e0.e86e5","type":"function","z":"656e1f5.0c055e","name":"map","func":"var p = msg.payload;\nvar c = {};\nc.data = [];\n\nvar data = {};\np.forEach(function(point) {\n    var year = point['event_year']\n    var month = point['event_month']\n    var day = point['event_day']\n    var hour = point['event_hour']\n    var d = new Date(year, month-1, day, hour, 0, 0, 0)\n    var value = point['avg(sensor_value)']\n    value = value ? value.toFixed(2) : value\n    var node_name = point['node_name']\n    if ( ! data[node_name] ) {\n        data[node_name] = []\n    }\n    data[node_name].push({\"x\": d, \"y\":value})\n});\n\nc.series = [];\nc.data = [];\nc.labels = [\"\"];\n\nObject.keys(data).forEach((k) => {\n    c.series.push(k)\n    c.data.push(data[k])\n})\n\nmsg.label = p.name;\nmsg.payload = [c];\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["b756e4b6.089b18"]]},{"id":"b756e4b6.089b18","type":"ui_chart","z":"656e1f5.0c055e","name":"","group":"630c06a6.d74338","order":1,"width":10,"height":5,"label":"Elmúlt napok","chartType":"line","legend":"true","xformat":"dd HH","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8040","#8000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":460,"wires":[[]]},{"id":"dcbaf9ee.fa3bf8","type":"sqlite","z":"656e1f5.0c055e","mydb":"ea748fc6.4f70a","sqlquery":"msg.topic","sql":"","name":"select","x":470,"y":500,"wires":[["e522e9eb.2e7368"]]},{"id":"cc11d350.2fe5d","type":"inject","z":"656e1f5.0c055e","name":"select hourly average from last 4 hours","topic":"select node_name, event_year, event_month, event_day, event_hour, event_minute, avg(sensor_value)  \tfrom sensor_data_2 where node_name='oweath' and sensor_type='t' and event_dt > datetime('now','-16 hours') \tgroup by node_name, event_year, event_month, event_day, event_hour, event_minute  \torder by event_year desc, event_month desc, event_day desc, event_hour desc, event_minute desc;","payload":"","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":220,"y":500,"wires":[["dcbaf9ee.fa3bf8"]]},{"id":"e522e9eb.2e7368","type":"function","z":"656e1f5.0c055e","name":"map","func":"var p = msg.payload;\nvar c = {};\nc.data = [];\n\nvar data = {};\np.forEach(function(point) {\n    var year = point['event_year']\n    var month = point['event_month']\n    var day = point['event_day']\n    var hour = point['event_hour']\n    var minute = point['event_minute']\n    var d = new Date(year, month-1, day, hour, minute, 0, 0);\n    var node_name = point['node_name']\n    if ( ! data[node_name] ) {\n        data[node_name] = []\n    }\n    data[node_name].push({\"x\": d, \"y\":point['avg(sensor_value)']})\n});\n\nc.series = [];\nc.data = [];\nc.labels = [\"\"];\n\nObject.keys(data).forEach((k) => {\n    c.series.push(k)\n    c.data.push(data[k])\n})\n\nmsg.label = p.name;\nmsg.payload = [c];\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["4fe302ce.50768c"]]},{"id":"4fe302ce.50768c","type":"ui_chart","z":"656e1f5.0c055e","name":"","group":"630c06a6.d74338","order":2,"width":10,"height":5,"label":"Elmúlt órák","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8040","#8000ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":500,"wires":[[]]},{"id":"27869334.5b81bc","type":"function","z":"5e4395e2.45da0c","name":"set global temperature","func":"global.set('out_temp', msg.payload.tempc);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":420,"wires":[[]]},{"id":"5ecbea1b.5fb914","type":"inject","z":"6c0c462d.5b1b28","name":"set last_change before 120 min","topic":"","payload":"120","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":820,"wires":[["942bb5eb.24c578"]]},{"id":"942bb5eb.24c578","type":"function","z":"6c0c462d.5b1b28","name":"set last_change","func":"const lastChange = new Date().getTime() - msg.payload * 60000;\nglobal.set('last_change', new Date(lastChange))\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":820,"wires":[[]]},{"id":"106fadf.8270552","type":"debug","z":"9e4d7e5b.aee51","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":180,"wires":[]},{"id":"a75efb54.f1a968","type":"inject","z":"9e4d7e5b.aee51","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["64731184.f213","106fadf.8270552"]]},{"id":"64731184.f213","type":"trigger","z":"9e4d7e5b.aee51","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"Watchdog","x":350,"y":220,"wires":[["a43b993.d221d68"]]},{"id":"a43b993.d221d68","type":"debug","z":"9e4d7e5b.aee51","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":220,"wires":[]},{"id":"8661a831.660408","type":"trigger","z":"ab240d84.fd732","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"240","extend":true,"units":"s","reset":"","bytopic":"topic","name":"Watchdog for node03 STATE","x":560,"y":900,"wires":[["17f8ee7.4b54212"]]},{"id":"17f8ee7.4b54212","type":"debug","z":"ab240d84.fd732","name":"node03 not available","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":900,"wires":[]},{"id":"112b2e57.26ee92","type":"switch","z":"ab240d84.fd732","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"tele/node03/STATE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":900,"wires":[["8661a831.660408"]]},{"id":"978f2e00.1314c","type":"mqtt in","z":"9e4d7e5b.aee51","name":"","topic":"tele/node01/STATE","qos":"2","datatype":"utf8","broker":"94de720a.4353b","x":170,"y":300,"wires":[["a31d429d.b87ab"]]},{"id":"336b21c1.31524e","type":"mqtt out","z":"9e4d7e5b.aee51","name":"change DeepSleep on node01","topic":"cmnd/node01/DeepSleepTime","qos":"","retain":"","broker":"94de720a.4353b","x":710,"y":300,"wires":[]},{"id":"a31d429d.b87ab","type":"change","z":"9e4d7e5b.aee51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["30ea265e.5263ea"]]},{"id":"30ea265e.5263ea","type":"debug","z":"9e4d7e5b.aee51","name":"DeepSleep set to","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":420,"wires":[]},{"id":"63bf2ca0.117a64","type":"ui_dropdown","z":"ab240d84.fd732","name":"","label":"Fűtés spec","tooltip":"","place":"válasszon értéket","group":"26bf7a9c.833aa6","order":7,"width":0,"height":0,"passthru":false,"options":[{"label":"0","value":"0","type":"str"},{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"}],"payload":"","topic":"payload","x":1090,"y":660,"wires":[["343b58f1.fc1418"]]},{"id":"343b58f1.fc1418","type":"function","z":"ab240d84.fd732","name":"set global heating_spec","func":"global.set('heating_spec', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":660,"wires":[[]]},{"id":"14af729.1ea748d","type":"ui_slider","z":"ab240d84.fd732","name":"","label":"Max hőmérséklet","tooltip":"","group":"26bf7a9c.833aa6","order":1,"width":10,"height":1,"passthru":true,"outs":"end","topic":"settarget","min":"21","max":"25","step":"0.1","x":1090,"y":740,"wires":[["171657af.195688"]]},{"id":"171657af.195688","type":"function","z":"ab240d84.fd732","name":"set global max_temp","func":"global.set('max_temp', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":740,"wires":[[]]},{"id":"ceb27381.da44a","type":"inject","z":"ab240d84.fd732","name":"send 22","topic":"","payload":"22.3","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1060,"y":800,"wires":[["14af729.1ea748d"]]},{"id":"f84a7d2d.74dfa","type":"inject","z":"ab240d84.fd732","name":"send 21.2","topic":"","payload":"21.5","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":860,"y":200,"wires":[["70af8cf2.420004"]]},{"id":"70875096.7a999","type":"inject","z":"ab240d84.fd732","name":"send hétvége","topic":"","payload":"hétvége","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":940,"y":60,"wires":[["f45ae560.fbc848"]]},{"id":"f713e432.e8b728","type":"inject","z":"ab240d84.fd732","name":"send 22","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1020,"y":600,"wires":[["63bf2ca0.117a64"]]},{"id":"3ef7ef95.923fd","type":"bigtimer","z":"3c069a3c.4fd856","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Nagy bal","comment":"","lat":"","lon":"","starttime":"1080","endtime":"10030","starttime2":"600","endtime2":"10030","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":360,"y":260,"wires":[["a2ac96c1.f87a28","1ff4dd67.5ecb23"],[],[]]},{"id":"a2ac96c1.f87a28","type":"mqtt out","z":"3c069a3c.4fd856","name":"","topic":"cmnd/node07/power1","qos":"0","retain":"false","broker":"94de720a.4353b","x":580,"y":260,"wires":[]},{"id":"b0aca585.7f1788","type":"inject","z":"3c069a3c.4fd856","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["3ef7ef95.923fd"]]},{"id":"c67718b9.3fa608","type":"inject","z":"3c069a3c.4fd856","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["3ef7ef95.923fd"]]},{"id":"3d0629c9.d83d86","type":"inject","z":"3c069a3c.4fd856","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["3ef7ef95.923fd"]]},{"id":"5cc69750.12f078","type":"inject","z":"3c069a3c.4fd856","name":"","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["3ef7ef95.923fd"]]},{"id":"1ff4dd67.5ecb23","type":"debug","z":"3c069a3c.4fd856","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":320,"wires":[]},{"id":"e4ce5252.e3e0b","type":"mqtt in","z":"3c069a3c.4fd856","name":"","topic":"tele/node07/STATE","qos":"2","datatype":"utf8","broker":"94de720a.4353b","x":170,"y":440,"wires":[["a8964fc8.86f06"]]},{"id":"a8964fc8.86f06","type":"debug","z":"3c069a3c.4fd856","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":440,"wires":[]}]